:root {
  --font-family: Arial;
}

.body {
  margin: 0px;
  width: 100%;
  background-color: white;
  line-height: 1.588235294117647em;
  min-height: 100%;
  scroll-behavior: smooth;
  text-rendering: optimizeLegibility;
  box-sizing: border-box;
  display: block;
}

.navbar {
  overflow: hidden;
  background-color: #2d2d48;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 0px;
  padding-left: 0%;
  padding-top: 2%;
  padding-right: 0%;
  padding-bottom: 10px;
  display: flex;
  position: fixed;
  width: 100%;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  /* padding: 14px 16px; */
  text-decoration: none;
  padding-left: 0%;
  padding-right: 0%;
  background-color: #2d2d48;
  margin-left: 140px;
}

.dropdown {
  float: left;
  overflow: hidden;
  background-color: #2d2d48;
}

.platform .dropbtn {
  cursor: pointer;
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 10px;
  background-color: #2d2d48;
  font-family: inherit;
  margin: 0;
  margin-left: 0px;
}
.dropdown .dropbtn {
  cursor: pointer;
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 10px 20px;
  background-color: #2d2d48;
  font-family: inherit;
  margin: 0;
  margin-left: 0px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.show {
  display: block;
}

.fa {
  content: "<";
}

.pwr-hero__title {
  font-family: var(--font-family);
  font-size: 45px;
  font-weight: 600;
  line-height: 1.3333333333333333em;
  max-width: 50rem;
  text-transform: none;
  letter-spacing: -0.75px;
  box-sizing: border-box;
  display: block;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  text-rendering: optimizeLegibility;
  margin-top: 0%;
  color: white;
  padding-top: 0%;
  padding-left: 20%;
}

.dwolla-modern {
  box-sizing: border-box;
  display: block;
  font-family: var(--font-family);
  font-size: 18px;
  line-height: 30px;
  color: white;
  padding-left: 20%;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  padding-right: 10%;
}

.meet-with {
  border: 0;
  border-radius: 4px;
  display: inline-block;
  font-family: var(--font-family);
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0px;
  line-height: 1.6em;
  opacity: 1;
  overflow: hidden;
  padding: 15px 21px;
  text-transform: none;
  z-index: 0;
  box-sizing: content-box;
  vertical-align: middle;
  padding-left: 1%;
  text-decoration: none;
  cursor: pointer;
  text-rendering: optimizeLegibility;
  background-color: #ca4c24;
  transition: all 0.4 ease-in-out;
  margin-left: 20%;
  margin-top: 2%;
  margin-bottom: 5%;
  color: white;
  border-radius: 4px;
}

.pwr-sec-clients__slider {
  display: flex;

  background-color: rgba(241, 247, 250, 1) !important;
  padding-top: 80px !important;
  padding-bottom: 80px !important;
  padding-left: 10%;
  width: auto;
}

.powering-payment-header {
  font-size: 22px;
  color: #1f1f32;
  font-weight: 600;
  font-family: "Roboto", Arial, Arial;
  text-rendering: optimizeLegibility;
  letter-spacing: 0px;
  line-height: 1.3333333333333333em;
  box-sizing: border-box;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  text-align: left;
  padding-top: 3%;
  margin-left: 10%;
}

.powering-tabs {
  font-weight: 500;
  margin-bottom: 40px;
  overflow: hidden;
  z-index: 1;
  box-sizing: border-box;
  display: flex;
  padding-left: 30px;
  margin-right: 500px;
  text-align: left;
}

.powering-tabs .pwr-tabs__tab-wrapper .pwr-tabs__tab {
  margin: 0px;
}

.pwr-tabs__tab-wrapper {
  font-size: 0;
  list-style: none;
  margin: 0;
  padding: 0;
  width: calc(100% + 30px);
  box-sizing: border-box;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

.pwr-tabs__tab {
  transition-duration: 0.4s;
  transition-property: color, opacity, border-color, width;
  transition-timing-function: ease-in-out;
  cursor: pointer;
  display: inline-block;
  font-size: 17px;
  min-height: 57px;
  min-width: 80px;
  padding-left: 8%;
}

.pwr-tabs__tab--active,
.pwr-tabs__tab--active:hover {
  border-bottom: 2px solid var(--clr-primary);
  color: var(--clr-primary);
  font-weight: 700;
  text-align: -webkit-match-parent;
}

.pwr-tabs__dropdown {
  display: none;
}

.pwr-form select option {
  font-weight: 400;
  display: block;
  min-height: 1.2em;
  padding: 0px 2px 1px;
  white-space: nowrap;
  box-sizing: border-box;
}

.pwr-tabs__content--2col .pwr-tab__content {
  float: left;
  width: calc(50% - 20px);
}
.pwr-rich-text > :first-child {
  margin-top: 0;
}
.pwr-rich-text {
  line-height: 1.75em;
}
*,
:after,
:before {
  box-sizing: border-box;
}
user agent stylesheet div {
  display: block;
}
.pwr--light {
  background-color: white;
  color: #1f1f32;
}

#digital-payments-for-the-insurance-industry {
  color: #1f1f32;
  font-size: 30px;
  padding-left: 0%;
  font-family: "Roboto", Arial, Arial;
}

.pwr-rich-text {
  display: block;
  margin-block-start: 1.33em;
  margin-block-end: 1.33em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  color: black;
  padding-left: 5%;
}

.pwr-rich-text p {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0px;
  line-height: 1.7em;
  color: #1f1f32;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.pwr-sec-stats--with-intro {
  padding: 90px 0 80px;
}

.pwr-sec-stats {
  /* overflow: hidden; */
  /* padding: 90px 0 80px; */
  /* position: relative; */
  z-index: 0;
}

.pwr--light {
  background-color: var(--clr-background-lt);
  color: #1f1f32;
}

.pwr--align-c {
  text-align: center;
}

.page-center {
  float: none;
  /* margin: 0 auto; */
  max-width: 100%;
}

.pwr-sec-stats__wrapper:not(.page-center) {
  margin: 0 40px;
}

.pwr-stats--centered {
  text-align: center;
}

.pwr-stat {
  float: left;
  margin: 10px 20px 40px;
  max-width: 285px;
  vertical-align: top;
  width: calc(25% - 40px);
}

.dnd_area-row-3-padding {
  padding-top: 40px !important;
  padding-bottom: 40px !important;
}
.dnd-section {
  padding: 80px 0;
}

.pwr--neg-margin-lr-10 {
  margin-left: -10px;
  margin-right: -10px;
}

.pwr-sec-steps--centered .pwr-step {
  padding-left: 10px;
  padding-right: 10px;
}

.pwr-mh--wrapper {
  overflow: auto;
  height: 43px;
}

.pwr-sec-steps--centered .pwr-step__count {
  margin-left: auto;
  margin-right: auto;
}

.pwr-step__count {
  background-color: #2d2d48;
  border-radius: 999px;
  color: #fff;
  display: block;
  font-family: var(--ff-accent);
  font-size: 18px;
  font-weight: 700;
  height: 50px;
  line-height: 50px;
  margin-bottom: 35px;
  text-align: center;
  width: 50px;
}

.pwr-step__title--has-desc {
  padding-bottom: 15px;
}
.pwr-step__title {
  display: block;
  font-family: var(--ff-accent);
  font-size: 19px;
  font-weight: 700;
  text-transform: var(--tt-title);
}

.pwr-step__desc {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}
.pwr-rich-text {
  line-height: 1.75em;
}

.pwr-rich-text:not(.pwr-sec-txt__left) > :last-child,
.pwr-rich-text:not(.pwr-tab__content--left) > :last-child {
  margin-bottom: 0;
}
.pwr-rich-text > :first-child {
  margin-top: 0;
}

.dnd_area-row-4-padding {
  padding-top: 60px !important;
  padding-bottom: 60px !important;
}

.dnd_area-row-4-background-gradient {
  background-image: linear-gradient(
    to right,
    rgba(233, 132, 83, 1),
    rgba(180, 82, 119, 1)
  ) !important;
}

.dnd-section > .row-fluid {
  margin: 0 auto;
  max-width: 1200px;
}

.row-fluid .span12 {
  min-height: 0 !important;
}
.row-fluid [class*="span"] {
  min-height: 1px;
}
.dnd-section .dnd-column {
  padding: 0;
}

.pwr-sec-cta--vertical {
  padding: 95px 0;
}

.pwr-sec-cta {
  overflow: hidden;
  padding: 48px 0;
  position: relative;
  z-index: 0;
}

.pwr--relative {
  position: relative;
}
.pwr--align-c {
  text-align: center;
}
#page-center,
.page-center {
  float: none;
  margin: 0 auto;
  max-width: 1200px;
}

.pwr-rich-text:not(.pwr-sec-txt__left) > :last-child,
.pwr-rich-text:not(.pwr-tab__content--left) > :last-child {
  margin-bottom: 0;
}

[data-aos].aos-animate {
  pointer-events: auto;
}
.pwr-sec-cta__cta--vertical {
  margin-top: 40px;
}

.cta_button:not(.pwr-cta--hubspot-style):after,
.cta_button:not(.pwr-cta--hubspot-style):before,
.hs-submit:after,
.hs-submit:before {
  bottom: 0;
  content: "";
  display: block;
  left: 0;
  position: absolute;
  width: 100%;
  z-index: -1;
}

.pwr-cta--custom-04 .cta_button:not(.pwr-cta):not(.pwr-cta--hubspot-style),
.pwr-cta--custom-04 .hs-submit {
  color: #fff;
}

.cta_button:not(.pwr-cta--hubspot-style),
.hs-submit {
  border: 0;
  border-radius: var(--br-btn);
  display: inline-block;
  font-family: "Roboto", Arial, Arial;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: var(--ls-btn);
  line-height: 1.6em;
  opacity: 1 !important;
  overflow: hidden;
  padding: 15px 21px;
  position: relative;
  text-transform: none;
  z-index: 0;
}
